{% extends "stud.html" %}
{% block body %}
<!DOCTYPE html>

<html>

<head>
    <title>Quản lý sinh viên</title>

<lin rel ='stylesheet' href="/home/niyas/New Folder/main.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
  
<!-- Wrap all page content here -->
<div id="wrap">
  
  <!-- Fixed navbar -->
  <div class="navbar navbar-default" data-spy="affix" data-offset-top="60" data-offset-bottom="70" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Quản lý sinh viên</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li ><a href="home">Trang Chủ</a></li>
          <li><a href="/rec">Danh sách sinh viên</a></li>
          <li><a href="/sef">Tìm kiếm</a></li>
          <li><a href="/stud">Thêm sinh viên</a></li>
          <li class="active"><a href="/del">Xóa sinh viên</a></li>          
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
</div>
 
</div>
  </div><!-- /.container-
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<div align='center'>
<h1>Quản lý sinh viên</h1>
<style>
     table.equalDevide tr td { width:25%; }
</style>
<div align ='center'>
  <table class="equalDevide" cellpadding="1" cellspacing="0" width="70%" border="2px">
    <th>
      <tr>
        <td>Tên</td>
        <td>Điểm 1</td>
        <td>Điểm 2</td>
        <td>Điểm 3</td>
        <td>Lớp</td>
      </tr>
    {%for a,b,c,d,e in row%}
      <tr>
      <td>{{a}}</td>
      
      <td>{{b}}</td>
      <td>{{c}}</td>
      <td>{{d}}</td>
      <td>{{e}}</td>
      </tr>
    {% endfor %}
    </th>
    </table>
</div>
</div>
</div>
</div>
{% endblock %}
 <script text="javascript">
document.body.style.backgroundColor="white";
 </script>
</body>
</html>

</html>

