{% extends "stud.html" %}
{% block body %}
<!DOCTYPE html>

<html>

<head>
    <title>Quản lý sinh viên</title>

<lin rel ='stylesheet' href="/home/niyas/New Folder/main.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/menuBase.css') }}"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
  
<!-- Wrap all page content here -->
<div id="wrap">
  
  <!-- Fixed navbar -->
    <div class="header-area overlay">
      <nav class="navbar navbar-expand-md navbar-dark data-spy="affix"">
          <div class="container">
              <a href="#" class="navbar-brand"><img src="https://student.husc.edu.vn/images/logo.png" alt=""></a>
              
              <div id="main-nav" class="collapse navbar-collapse">
                  <ul class="navbar-nav ml-auto">
                      <li><a href="home" class="nav-item nav-link ">Trang chủ</a></li>
                      <li><a href="/rec" class="nav-item nav-link active">Danh sách sinh viên</a></li>
                      <li><a href="/sef" class="nav-item nav-link" >Tìm kiếm</a></li>
                      <li><a href="/stud" class="nav-item nav-link" >Thêm sinh viên</a></li>
                      <li><a href="/logout" class="nav-item nav-link">Đăng xuất</a></li>
                  </ul>
              </div>
          </div>
      </nav>
    </div>
</div>
  </div><!-- /.container-
<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<div align='center'>
<h1>Quản lý sinh viên</h1>
<style>
     table.equalDevide tr td { width:25%; }
</style>
<div style="margin-top: 30px;" class="container">
	<table class="table">
		
		<thead class="thead-dark">
			<tr>
				<th scope="col">Tên sinh viên</th>
				<th scope="col">Điểm môn 1</th>
				<th scope="col">Điểm môn 2</th>
				<th scope="col">Điểm môn 3</th>
				<th scope="col">Lớp</th>
				<th scope="col">Hành động</th>
			</tr>
		</thead>
		<tbody>
			{%for a,b,c,d,e in row%}
			<form method="post" action='/delete'>
				<tr>
					<td>{{a}}</td>
					<td>{{b}}</td>
					<td>{{c}}</td>
					<td>{{d}}</td>
					<td>{{e}}</td>
					<td>
						<input hidden style="width: 5px;" type='text' name='delete' value="{{a}}" />
						<a href="/update?name={{a}}"  class="btn btn-warning"> Sửa </a>
						<input type="submit" class="btn btn-danger" value="Xóa"></input>	
					</td>
				</tr>
				</form>
			{% endfor %}
		</tbody>
	</table>
</div>


</div>
</div>
</div>


{% endblock %}
 <script text="javascript">
document.body.style.backgroundColor="white";
 </script>
</body>
</html>

</html>
